<h1>Productos</h1>


<section class="container">
  <article class="card-grid">
    <% productos.forEach( p=> { %>
      <div class="card card--featured">
        <div class="card__content">
          <img src="<%= p.image %>" alt="<%= p.title %>" class="card__img" />
          <h2 class="card__title">
            <%= p.title %>
          </h2>
          <p class="card__price">$<%= p.price %>
          </p>
          <p class="card__text" data-fulltext="<%= p.description %>">
            <%= p.description %>
          </p>
        </div>
      </div>
      <% }) %>
  </article>
</section>